@{
    ViewBag.Title = "Sign Out";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">ばいばーい。サインアウトしましたよ！またきてね！</p><br />
<span style="font-family:Meiryo">ここは、HttpContext.GetOwinContext().Authentication.SignOut を実行されて到達しています。なにをしているんだろう？？</span>
