<?xml version='1.0' encoding='utf-8'?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
      <database>
          <provider name="sqlServer4.0" />
          <!-- この接続文字列は使わないけど存在しないとエラーというくそ仕様なので仕方なく入れる -->
          <dataSource name="SalesData" connectionString="Data Source=(local);Initial Catalog=4.0.0.0.LOCAL.JetsonWebPortal;Integrated Security=True"/>
      </database>
	  <alias>
	    <typeAlias alias="FBUserInfo" type="webappWebApp.Models.Model.FirstModel, webappWebApp" />
	    <typeAlias alias="UserInfo" type="webappWebApp.Models.UserInfo.UserInfoModel, webappWebApp" />
	  </alias>
      <sqlMaps>
        <sqlMap embedded="Dao.Maps.UserInfo.xml, webappWebApp"/>
		<sqlMap embedded="Dao.Maps.FBUserInfo.xml, webappWebApp"/>
      </sqlMaps>
</sqlMapConfig>