@{
	ViewBag.Title = "誕生日 Please!!";
}
<div id="envInfo" style="font-size:14pt">
	エラー
	<soan id="description"></soan>
	アプリを一度削除して、誕生日はアプリで取得することを許可してみてください！ <a href="=https://ja-jp.facebook.com/help/262314300536014/">ここ</a>の説明に従って FaceBook 上でアプリを承認して下さい。<br /><br />
</div>