@inherits  webappWebApp.Pages.UserInfo.UserInfoPage
@{
    ViewBag.Title = "Browse Albums";
}
<div>
    <div id="{@this.MessageService.DivID}" />
    <br />


<table>
    <thead>
        <tr>
            <th>表示名</th>
            <th>エイリアス</th>
            <th>メールアドレス</th>
            <th>趣味</th>
        </tr>
    </thead>

</table>

</div>